.thaoluan{
    font-size: 14px;
    margin-right: 20px;
    cursor: pointer;
    color: #007bff;
}
.thaoluan :hover
{
    text-decoration: underline;
}
.icon-kh span{
    font-size: 20px;
    padding: 15px;
    border-radius:50%;
    background-color:aquamarine;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
  }
  .like{
      color: black;
  }
  .like:hover{
    color: red;
  }

  .form-group{
      margin-bottom: 2px !important;
  }