.loc-content {
  width: 100%;
  border-radius: 5px;
}
.loc-content .wrapper-item {
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px #d6d6d6, -5px -5px 15px 0px #d6d6d6;
  border-radius: 5px;
  position: sticky;
  top: 50px;
}
.loc-content .item {
  width: 100%;
  background-color: rgba(0, 123, 255, 0.21);
}
.loc-content .item button {
  width: 100%;
  color: #007bff;
  font-weight: bold;
  line-height: 50px;
  padding-left: 20px;
  background-color: rgba(0, 123, 255, 0.21);
  border: none;
  font-size: 20px;
  vertical-align: bottom;
  position: relative;
}
.loc-content .item button:not(.submit-ap-dung)::before {
  content: "";
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 111;
  transition: all 0.2s ease;
}
.loc-content .item button:not(.submit-ap-dung)::after {
  content: "";
  width: 90%;
  height: 1px;
  position: absolute;
  top: 100%;
  left: 05%;
  background-color: white;
  z-index: 111;
  transition: all 0.2s ease;
}
.loc-content .item button:hover::before {
  background-color: rgb(129, 62, 179);
}
.loc-content .item button:hover {
  color: blue;
}
.loc-content .item ul,
.loc-content .item-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  padding-top: 10px;
  padding-left: 30px;
  background-color: rgba(0, 123, 255, 0.21);
  border-top: none;
}
.loc-content .item ul li label {
  margin-left: 10px;
}
.loc-content .item .item-gia {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
}
.loc-content .item .item-gia input {
  width: 100px;
  margin: 10px 10px;
  padding: 5px;
}
.loc-content .item button.submit-ap-dung {
  text-align: center;
  border: 1px solid blue;
  color: blue;
  line-height: 25px;
  border-radius: 5px;
  background-color: rgba(0, 123, 255, 0.21);
  width: auto;
  margin: 10px;
  padding: 5px 10px;
  transition: 0.2s;
}
.loc-content .item button.submit-ap-dung:hover {
  background-color: blue;
  color: white;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.star-san-pham li label i {
  color: rgb(255, 181, 0);
  padding-left: 5px;
  padding-right: 5px;
}
* {
  text-align: justify;
}
